h1 {
    text-align: center;
    margin-top: .5em;
    margin-bottom: .10em;
    text-shadow: 4px 4px aquamarine;
    font-weight: 800;
}
form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#reset-results {
    width: 10em;
}
.recent-search {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 20px 0px;
  
}
.wrap-buttons {
    border: 1px solid aquamarine;
    margin-left: .5em;
    margin-bottom: 2em;
    border-radius: .5em;
}
.btn-delete {
    border-left: 1px solid orangered;
    border-radius: 0;
}

.giphy-content{
   column-count: 3;
   column-gap: 1em; 
}

.giphy {
    border: 1px solid rebeccapurple;
    border-radius: .5em;
    border-bottom: .5em forestgreen;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    margin-bottom: .5em;
    page-break-inside: avoid;
    background-color: cadetblue;
    box-shadow: 9px 20px 10px rgba(0, 0, 0, 0.5);
}

.giphy img {
    width: 100%;
    height: 100%;
}
.fa-play {
    font-size: .10em;
    background-color: chartreuse;
    border-radius: 50%;
    padding: 1.5em;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    cursor: pointer;
}
.favorite {
    position: absolute;
    right: 0;
    cursor: pointer;
    border-bottom-left-radius: .5em;
    background-color: chartreuse;
    padding: 1.5em;

}

.giphy-image:hover .img-play {
    opacity: 1;
}
.giphy-info {
    display: flex;
    justify-content: space-between;
    margin: 1.5em .5em;
}
.giphy-footer {
    text-align: center;
    border: .5px solid lightcoral;
    position: absolute;
    bottom: 0;
    width: 100%;
    cursor: pointer;
}