h1 {
    text-align: center;
    margin-top: .5em;
    margin-bottom: .10em;
    text-shadow: 4px 4px aquamarine;
    font-weight: 800;
}
form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#reset-results {
    width: 10em;
}
.recent-search {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 20px 0px;
  
}
.wrap-buttons {
    border: 1px solid aquamarine;
    margin-left: .5em;
    margin-bottom: 2em;
    border-radius: .5em;
}
.btn-delete {
    border-left: 1px solid orangered;
    border-radius: 0;
}